.App-logo {
  height: 20vmin;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(2px + 2vmin);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(230, 41, 41);
  border-bottom: 3px solid rgb(230, 41, 41);
}

.App-body {
  font-size: 1rem;
  min-height: 65vmin;
  padding: 40px;
}

.App-footer {
  text-align: center;
  padding: 5px;
  font-size: .75rem;
  font-style: italic;
  border-top: 3px solid rgb(230, 41, 41);
}