.Notifications {
  border: 1px dashed rgb(230, 41, 41);
  padding: 10px;
}

li {
  color: red;
}

[data-priority="default"] {
  color: blue;
}

[data-priority="urgent"] {
  color: red;
}

label {
  font-size: 1rem;
  font-weight: bold;
}
input {
  margin: 0 1rem 0 .5rem;
  border-color: 1px solid #e3e3e3;
  width: 8rem;
}